<div class="min-h-[100vh] flex flex-col justify-between">
  <main class="p-5 w-100 my-0 max-w-[1920px]">
    <p-toast/>
      <p-accordion>
        <p-accordionTab [header]="!loggedIn ? 'Iniciar sesión o registrarse para guardar los datos' : 'Opciones usuario'">
          <div class="flex items-center gap-2 flex-wrap justify-center">
            @if (!loggedIn) {
              <app-login class="w-full flex justify-center"></app-login>
            } @else {
              @if(isEmailAuth()) {
                <p-button (onClick)="visibleUpdateEmailPopup = true" icon="pi pi-user-edit" label="Actualizar email"></p-button>
                <p-button (onClick)="visibleUpdatePasswordPopup = true" icon="pi pi-pencil" label="Actualizar contraseña"></p-button>
              }
              <p-button severity="danger" (onClick)="visibleDeleteUserPopup = true" icon="pi pi-trash" label="Eliminar usuario"></p-button>
              <p-button severity="contrast" (onClick)="logout()" label="Cerrar sesión"/>
            }
          </div>
        </p-accordionTab>
      </p-accordion>
    <p-stepper orientation="vertical">
       <p-stepperPanel header="Establecer mes y año para buscar videojuegos">
            <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
              <div class="flex flex-col gap-3 pt-4 justify-center items-center">
                  <h4 class="m-0">Por defecto, es: <code class="bg-gray-800 text-white rounded p-1">La fecha actual -4 meses</code> (margen para que terminen de rellenar juegos). A no ser que establezcas otra fecha estando logueado.</h4>
                  <p-calendar 
                  [(ngModel)]="fechasElegidas" 
                  [defaultDate]="fechasElegidas"
                  (onSelect)="actualizarFecha()"
                  view="month" 
                  dateFormat="mm/yy" 
                  readonlyInput
                  inline
                  />
                  <p-button label="Siguiente" icon="pi pi-arrow-down" iconPos="right" (onClick)="nextCallback.emit()" />
              </div>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Obtener títulos de los videojuegos en Arrays">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                <section class="wrapear">
                  <h1>Los juegos se añadirán a la lista de revisión</h1>
                  <article class="flex flex-col justify-center items-center gap-2 relative">
                    @for (proveedor of listaProveedores; track proveedor) {
                      @if (proveedor.nombre == 'Grouvee') {
                        <h1 class="w-full">Los juegos se añadirán a la lista de <span class="underline">revisados</span> (puedes hacerlo en tu propio link de Grouvee)</h1>
                      }
                      <div class="flex justify-start gap-3 w-full">
                        <div class="relative cursor-pointer" (click)="codigoRecolectar(proveedor.clase, proveedor.nombre)" tooltipPosition="bottom" pTooltip="Copiar JavaScript para recolectar de {{ proveedor.nombre }}">
                          <img width="200" height="200" class="rounded" src="{{proveedor?.nombre?.toLowerCase()}}.png" [alt]="proveedor.nombre">
                          <p-button [severity]="!proveedor.activoEnClipboard ? 'contrast' : 'success'" class="pi absolute top-2 right-2 text-white" icon="pi {{ !proveedor.activoEnClipboard ? 'pi-clipboard' : 'pi-check' }}"></p-button>
                        </div>
      
                        <div class="grow flex gap-2 items-center">
                          <textarea pInputTextarea placeholder="Pegar aquí el resultado (después de copiar el objeto resultante)" class="grow h-full" [(ngModel)]="proveedor.listadoJuegos"></textarea>
                          <section class="flex flex-col gap-2 h-full justify-between py-3">
                            <i class="pi pi-times cursor-pointer hover:text-blue-500" pTooltip="Borrar Texto" (click)="proveedor.listadoJuegos = ''"></i>
                            <i class="pi pi-file-import cursor-pointer hover:text-blue-500" pTooltip="Pegar Texto" (click)="pegarTexto(proveedor)"></i>
                            <i class="pi pi-clipboard cursor-pointer hover:text-blue-500" pTooltip="Copiar Texto" (click)="copiarTexto(proveedor.listadoJuegos.toString())"></i>
                          </section>
                        </div>
                      </div>
                    }
                  </article>
                </section>
                <div class="flex pt-4 gap-2 justify-between">
                    <p-button label="Atrás" severity="contrast" icon="pi pi-arrow-up" (onClick)="prevCallback.emit()" />
                    <p-button label="Añadir a listados" icon="pi pi-arrow-down" iconPos="right" (onClick)="anadirAListados(); nextCallback.emit()" />
                </div>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Listado completo de videojuegos (eliminando duplicados)">
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
              <section>
                 <article class="flex flex-col gap-3 justify-center items-center">
                  <div class="flex gap-2 items-center">
                    <p-selectButton 
                      [allowEmpty]="false"
                      [options]="[{ name: 'Revisar', value: 'revisar' }, { name: 'Revisados', value: 'revisados' }]" 
                      [(ngModel)]="listaOpcionesMostradas" 
                      optionLabel="name" 
                      optionValue="value" 
                    />
                    <p-button severity="warning" pTooltip="Crear juego en Grouvee" (onClick)="anadirJuegoAGrouvee()">
                      <span>+</span>
                      <img src="grouvee.png" alt="Grouvee" width="20" height="20">
                    </p-button>
                  </div>
                  @if (listaOpcionesMostradas == 'revisar') {
                    <app-lista-juegos class="w-full max-w-[1000px]" [(listaJuegos)]="listaJuegosPorVer" (marcarComoRevisado)="handleMarcarComoRevisado($event)" (anadirJuego)="handleAnadirJuego($event)" (setListasJuegos)="actualizarListaRevisar()"></app-lista-juegos>
                  } @else {
                    <app-lista-juegos class="w-full max-w-[1000px]" [revisados]="true" [(listaJuegos)]="listaJuegosRevisados" (volverARevisar)="handleVolverARevisar($event)" (anadirJuego)="handleAnadirJuego($event)" (setListasJuegos)="actualizarListaRevisados()"></app-lista-juegos>
                  }
                 </article>
                @if (!listaJuegosRevisados.length && !listaJuegosPorVer.length) {
                  <p>Si no has añadido elementos, dale a añadir listado en el paso 2 o añadir juego en este paso.</p>
                }
              </section>
              <div class="flex pt-4 gap-2 justify-between">
                  <p-button label="Atrás" severity="contrast" icon="pi pi-arrow-up" (onClick)="prevCallback.emit()" />
              </div>
          </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </main>
  
  <app-footer></app-footer>
</div>


<!-- Popups -->
<!-- Update email -->
<p-dialog 
    header="Header" 
    [(visible)]="visibleUpdateEmailPopup" 
    [modal]="true" 
    [dismissableMask]="true"
    [style]="{ width: '25rem', minWidth: '25rem', minHeight: '215px' }"
    styleClass="p-3 bg-white"
>
    <ng-template pTemplate="header">
        <h2 class="text-blue-600">Actualizar email</h2>
    </ng-template>
    
    <form [formGroup]="updateEmailForm" (ngSubmit)="updateUserEmail()" (keydown.enter)="updateUserEmail()" class="flex flex-col items-center gap-3 w-full py-2">
        <input placeholder="Email anterior" pInputText id="previousEmail" class="flex-auto w-full text-lg" autocomplete="off" formControlName="previousEmail"/>
        <input placeholder="Nuevo Email" pInputText id="email" class="flex-auto w-full text-lg" autocomplete="off" formControlName="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"/>
        <input placeholder="Confirmar Nuevo Email" pInputText id="emailConfirmation" class="flex-auto w-full text-lg" autocomplete="off" formControlName="emailConfirmation"/>

        <p-messages class="w-full" [escape]="false" [(value)]="messages" [enableService]="false"></p-messages>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="visibleUpdateEmailPopup = false" 
            />
            <p-button 
                label="Actualizar" 
                [outlined]="true" 
                (onClick)="updateUserEmail()" 
            />
        </div>
    </ng-template>
</p-dialog>

<!-- Update password -->
<p-dialog 
header="Header" 
[(visible)]="visibleUpdatePasswordPopup" 
[modal]="true" 
[dismissableMask]="true"
[style]="{ width: '25rem', minWidth: '25rem', minHeight: '215px' }"
styleClass="p-3 bg-white"
>
    <ng-template pTemplate="header">
        <h2 class="text-blue-600">Actualizar contraseña</h2>
    </ng-template>

    <form [formGroup]="updatePasswordForm" (ngSubmit)="updateUserPassword()" (keydown.enter)="updateUserPassword()" class="flex flex-col items-center gap-3 w-full py-2">
        <input placeholder="Nueva Contraseña" pInputText id="password" class="flex-auto w-full text-lg" autocomplete="off" formControlName="password" type="password"/>
        <input placeholder="Confirmar Nueva Contraseña" pInputText id="passwordConfirmation" class="flex-auto w-full text-lg" autocomplete="off" formControlName="passwordConfirmation" type="password"/>

        <p-messages class="w-full" [escape]="false" [(value)]="messages" [enableService]="false"></p-messages>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="visibleUpdatePasswordPopup = false" 
            />
            <p-button 
                label="Actualizar" 
                [outlined]="true" 
                (onClick)="updateUserPassword()" 
            />
        </div>
    </ng-template>
</p-dialog>

<!-- Delete user -->
<p-dialog 
    header="Header" 
    [(visible)]="visibleDeleteUserPopup" 
    [modal]="true" 
    [dismissableMask]="true"
    styleClass="p-3 bg-white"
>
    <ng-template pTemplate="header">
        <h2 class="text-red-600">ATENCIÓN</h2>
    </ng-template>
    
    <p class="text-center py-2">¿Estás seguro de que quieres eliminar tu usuario?</p>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="visibleDeleteUserPopup = false" 
            />
            <p-button 
                label="Eliminar" 
                [outlined]="true" 
                severity="danger"
                (onClick)="deleteUser()" 
            />
        </div>
    </ng-template>
</p-dialog>