<main class="w-full">
    <h3 class="mt-0 text-center">Juegos {{ !revisados ? 'por revisar' : 'revisados' }}: <span class="text-blue-600">{{ listaJuegosFiltrada.length }}</span></h3>
    
    <p-confirmPopup />

    <section class="flex gap-2 w-full items-center justify-start mb-3">
        <p-button (click)="confirmarBorradoDeLista($event)" severity="secondary" label="Limpiar lista"></p-button>
        <article class="grow relative">
            <input type="text" class="w-full pr-8" pInputText [(ngModel)]="filtro" placeholder="Buscar videojuego...">
            @if (filtro) {
                <i class="pi pi-times clear-btn absolute right-3 top-3 cursor-pointer hover:text-red-500" (click)="filtro = ''"></i>
            }
        </article>
    </section>
    <section class="flex gap-2 w-full items-center justify-start">
        <article class="grow relative">
            <input type="text" (keydown.enter)="anadirJuegoLista()" class="w-full pr-8" pInputText [(ngModel)]="juegoAnadir" placeholder="Añadir videojuego...">
            @if (juegoAnadir) {
                <i class="pi pi-times clear-btn absolute right-3 top-3 cursor-pointer hover:text-red-500" (click)="juegoAnadir = ''"></i>
            }
        </article>
        <p-button (click)="anadirJuegoLista()" label="Añadir Juego"></p-button>
    </section>

    <br>

    @if (revisados) {
        <section class="flex justify-center items-center">
            <p-selectButton 
                [options]="[{ name: 'Aceptados', value: 'aceptados' }, { name: 'Descartados', value: 'descartados' }]" 
                [(ngModel)]="listaOpcionesMostradas" 
                multiple
                optionLabel="name" 
                optionValue="value" 
            />
        </section>
    }
    @for (juego of listaJuegosFiltradaPaginada; track juego.nombre) {
        <section class="flex gap-2 w-full items-center my-2">
            <article class="pl-1 cursor-pointer text-red-600 hover:text-red-400 text-lg mr-2" pTooltip="Eliminar de la lista" tooltipPosition="left" (click)="borrarJuego(juego.nombre)">
                <i class="pi pi-trash"></i>
            </article>
            <article class="cursor-pointer">
                <img width="75" height="50" src="youtube.png" alt="Ver Gameplay" pTooltip="Ver Gameplay" tooltipPosition="top" (click)="irALaUrlDelJuego(juego)">
            </article>
            <article class="flex flex-col gap-2 grow items-start justify-start">
                <h4 class="m-0 p-0">
                    <span>{{ juego.nombre }}</span>
                    @if (revisados && !juego.descartado) {
                        <i class="pi pi-thumbs-up-fill text-green-600 ms-2" pTooltip="Aceptado"></i>
                    } @else if (revisados && juego.descartado) {
                        <i class="pi pi-thumbs-down-fill text-red-600 ms-2" pTooltip="Descartado"></i>
                    }
                </h4>
                <p class="m-0 p-0 texto-enlace">URL: <a (click)="irALaUrlDelJuego(juego)">{{ juego.urlYoutube }}</a></p>
            </article>
            
            @if (!revisados) {
                <article class="pl-1 cursor-pointer text-red-600 hover:text-red-400 text-lg" pTooltip="Descartar" tooltipPosition="left" (click)="marcarComoRevisadoLista(juego, true)">
                    <i class="pi pi-times"></i>
               </article>
                <article class="pl-1 cursor-pointer text-green-600 hover:text-green-400 text-lg" pTooltip="Añadir a Grouvee" tooltipPosition="left" (click)="marcarComoRevisadoLista(juego)">
                    <i class="pi pi-check"></i>
               </article>
            } @else {
                <article class="pl-1 cursor-pointer text-orange-500 hover:text-orange-400 text-lg" pTooltip="Volver a revisar" tooltipPosition="left" (click)="volverARevisarLista(juego)">
                    <i class="pi pi-undo"></i>
               </article> 
            }
        </section>
    } @empty {
        <h1>No hay videojuegos en esta lista.</h1>
    }

    <p-paginator 
    (onPageChange)="onPageChange($event)" 
    [first]="first"
    [rows]="rows" 
    [totalRecords]="listaJuegosFiltrada.length" 
    [rowsPerPageOptions]="[5, 10, 25, 50, 100]" />
</main>